registry=https://nexusczr.shared-tooling.aws-us-east-1.usp.czrs.io:8443/repository/npm_pull/
progress=false
engine-strict=true
strict-ssl=false
always-auth=true
_auth=R094bWNVZDM6cE8wTHdDV2ZCSDl3RWdxX1RUOWZUc3pKQ3k0c0RJMU10M1QxMUk1RFg2OWs=